
@{
	
}
<script src="~/js/site.js"></script>
<input type="text" name="email"/>
<input type="text" name="title"/>
<textarea name="content">

</textarea>
<div class="button"><p>Prześlij</p></div>
<script>eventMaintance()</script>